/* --- CSS written in style.scss file. Refer to this for review and edits --- */
/* --- Variable Declaration --- */

/* Color Palette */
$accentColor: #1AD993;
$darkBackColor: #0D0D0D;
$lightBackColor: #262626;
$cardBackColor: #8C8C8C;
$text: #F2F2F2;

/* Font Selection */
$headingFont: 'Raleway', sans-serif;
$paragraphFont: 'Roboto', sans-serif;

/* --- Wildcard Selector --- */

* {
    margin: 0em;
    padding: 0em;
    color: $text;
}

/* ----- Mixins ----- */

/* Base Heading Text */
@mixin heading-default {
    font-family: $headingFont;
    font-weight: bold;
}

/* Base Paragraph Text */
@mixin paragraph-default {
    font-family: $paragraphFont;
    font-weight: normal;
    font-size: 1em;
}

/* Highest Level Backing Container */
@mixin background-container($backColor) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backColor;
    width: 100vw;
}

/* Second Level Content Container */
@mixin display-container($direction, $align, $justify, $padding) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    padding: min($padding, 38.4px);
    flex-wrap: wrap;
    max-width: 1280px;
    width: 100%;
}

/* Card Image Controller */
@mixin cardImg() {
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

/* ----- Element Selectors ----- */

/* --- Layout Elements --- */

/* Body Background */
body {
    background-color: $lightBackColor;
}

/* Nav Structure */
nav {
    @include display-container(row, center, space-between, 0.5em);
}

/* --- Text Elements --- */

/* h1 Element Display */
h1 {
    @include heading-default();
    font-size: 3em;
    line-height: 1.3;
}

/* h2 Element Display */
h2 {
    @include heading-default();
    color: $accentColor;
    font-size: 1.25em;
}

/* h3 Element Display */
h3 {
    @include paragraph-default();
    font-weight: bold;
    font-size: 1.25em;
}

/* Paragraph Element Display */
p {
    @include paragraph-default();
}

/* Anchor Element Display */
a {
    @include paragraph-default();
    text-decoration: none;
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
}

/* --- Container Elements --- */

/* Call to Action Buttons */
button {
    min-height: 3em;
    color: $accentColor;
    border-color: $accentColor;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 0.5em;
    background-color: transparent;
}

/* ----- Class Selectors ----- */

/* --- Type Containers --- */

/* Light Background Containers */
.light {
    @include background-container($lightBackColor);
}

/* Dark Background Containers */
.dark {
    @include background-container($darkBackColor);
}

/* Card Background Containers */
.card {
    background-color: $cardBackColor;
}

/* Placeholder till proper logo image */
.titleLogo {
    background-color: $text;
    border-radius: 50%;
    min-width: 15em;
    min-height: 15em;
    color: $darkBackColor;
}

/* Controls Image Size on Service Cards */
.serviceLogo {
    height: 2em;
    width: 2em;
}

/* --- Section Containers --- */

/* Layout Control when single page section */
.solo {
    min-height: calc(100vh - 5em);
}

/* Specialised Container for initial homepage section */
.intro {
    @include display-container(row, center, center, 3vw);
    > * {
        margin: 1em;
    }
}

/* Container for left justified sections */
.leftHeader {
    @include display-container(row, center, flex-start, 3vw);
    .headerSection {
        text-align: left;
    }
}

/* Container for right justified sections */
.rightHeader {
    @include display-container(row-reverse, center, flex-end, 3vw);
    flex-wrap: nowrap;
    .headerSection {
        text-align: right;
    }
}

/* Container for center justified sections */
.centerHeader {
    @include display-container(row, center, center, 3vw);
    .headerSection {
        text-align: center;
    }
}

/* --- Sub-Section Containers --- */

/* Container smaller heading sections */
.headerSection {
    max-width: 40%;
    * {
        margin: 10px 0px;
    }
}

/* Container Nav anchor links */
.navLinks {
    a {
        margin: 0em 0.3em;
    }
}

/* Container for different card type lists */
.cardList {
    @include display-container(row, center, space-around, 0px);
    width: 100%;
    article {
        margin: 1em 1em 1em 0em;
        border-radius: 15px;
    }
    /* Services card specific */
    .service {
        width: 15em;
        height: 10em;
        padding: 2em 1em 1em 1em;
    }
    /* Contact card specific */
    .contactCard {
        display: inline-flex;
        align-items: center;
        height: 3em;
        padding: 1em 1em 1em 1em;
        * {
            color: $accentColor;
            font-weight: bold;
            margin: 0em 1em;
        }
    }
    /* Blog card specific */
    .blog {
        width: 25em;
        height: 15em;
        margin: 2em 0em;
        img {
            @include cardImg();
        }
    }
}

/* Container for blog cards in major heading only */
.featureBlogCards {
    @include display-container(row, flex-start, space-around, 0px);
    flex-wrap: nowrap;
    width: 100%;
    /* Hero Blog Card */
    .main {
        margin-right: 50px;
        * {
            margin-top: 10px;
        }
        img {
            @include cardImg();
        }
    }
    /* Secondary Blog Cards */
    .blogColumn {
        @include display-container(column, flex-start, flex-start, 0px);
        .secondary {
            width: 100%;
            * {
                margin-top: 10px;
            }
            img {
                @include cardImg();
                max-height: 250px;
            }
        }
    }
}

/* --- ID Selectors --- */

/* Overwrite for Accent Text Color if needed */
#accent {
    color: $accentColor;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .leftHeader {
        @include display-container(row, center, left, 5vw);
    }
    
    .rightHeader {
        @include display-container(row, center, right, 5vw);
        * {
            text-align: right;
        }
    }
    
    .centerHeader {
        @include display-container(row, center, center, 5vw);
    }

    .headerSection {
        max-width: 80%;
        * {
            margin: 10px 0px;
        }
    }

    .cardList {
        @include display-container(row, center, center, 0vw);
        .blog{
            img {
                width: 90vw;
            }
        }
        
    }

    .featureBlogCards {
        @include display-container(row, center, flex-end, 0px);
        width: 100%;
        .main {
            margin-right: 0px;
        }
        .blogColumn {
            display: none;
        }
    }
}
  
/* Media Query for Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
    .headerSection {
        max-width: 50%;
        * {
            margin: 10px 0px;
        }
    }
}