/* --- Variable Declaration --- */

/* Color Palette */
$primaryColor: #8C8C8C;
$secondaryColor: #262626;
$accentColor: #1AD993;
$darkColor: #0D0D0D;
$lightColor: #F2F2F2;

/* Font Selection */
$headingFont: 'Raleway', sans-serif;
$paragraphFont: 'Roboto', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headingFont;
}

p {
    font-family: $paragraphFont;
}