/* CSS written in style.scss file. Refer to SCSS for review and edits */
/* || VARIABLE DECLARATION */

$accentColor: #1AD993;
$darkBackColor: #0D0D0D;
$lightBackColor: #262626;
$cardBackColor: #8C8C8C;
$text: #F2F2F2;

$headingFont: 'Raleway', sans-serif;
$paragraphFont: 'Roboto', sans-serif;

$innerContainerMargin: 5vw;

/* || GENERAL STYLING */

* {
    margin: 0;
    padding: 0;
    color: $text;
    font-family: $paragraphFont;
}

body {
    background-color: $lightBackColor;
}

@mixin heading-default($fontsize) {
    font-family: $headingFont;
    font-weight: bold;
    font-size: $fontsize;
}

@mixin paragraph-default($fontsize) {
    font-family: $paragraphFont;
    font-weight: normal;
    font-size: $fontsize;
}

/* Largest White Headers */
h1 {
    @include heading-default(3em);
    font-size: 3em;
}

/* Accent Color Mid Headers */
h2 {
    @include heading-default(1.25em);
    color: $accentColor;
    font-size: 1.25em;
}

/* Light Color Mid Headers  */
h3 {
    @include heading-default(1.25em);
    font-weight: bold;
}

/* Blog Date Headers */
h4 {
    @include paragraph-default(0.75em);
    font-style: italic;
}

p {
    @include paragraph-default(1em);
}

a {
    text-decoration: none;
}

.accent {
    color: $accentColor;
}

button {
    height: 3em;
    color: $accentColor;
    border-color: $accentColor;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 0.5em;
    background-color: transparent;
}

hr.solid {
    border-top: 1px solid $text;
    width: 100%;
}

/* || CONTAINERS */

/* Highest Level Backing Container */
@mixin outer-container($backColor) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backColor;
}

/* Second Level Content Container */
@mixin display-container($direction, $justify, $align, $padding) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
    padding: min($padding, 40px); /* 40px limit to stop container growing with wide screens */
    max-width: 1280px; /* Limit container to max 1280px screen size */
    width: 100%;
    height: 100%;
}

nav {
    @include display-container(row, space-between, center, 0.5em);
    a {
        margin: 0 0.3em;
    }
}

.outerLight {
    @include outer-container($lightBackColor);
}

.outerDark {
    @include outer-container($darkBackColor);
}

.solo {
    min-height: calc(100vh - 6em);
}

.innerLeft {
    @include display-container(row, flex-start, center, $innerContainerMargin);
    .innerText {
        text-align: left;
        margin-right: 10%;
    }
}

.innerRight {
    @include display-container(row-reverse, flex-end, center, $innerContainerMargin);
    .innerText {
        text-align: right;
        margin-left: 10%;
    }
}

.innerCenter {
    @include display-container(row, center, center, $innerContainerMargin);
    .innerText {
        text-align: center;
    }
}

.innerText {
    width: 100%;
    z-index: 10;
    * {
        margin: 10px 0;
    }
}

.card {
    background-color: $cardBackColor;
}

.cardList {
    @include display-container(row, center, center, 0);
    article {
        margin: 1em;
        border-radius: 15px;
    }
    .service {
        width: 15em;
        height: 10em;
        padding: 2em 1em 1em 1em;
    }
    .contact {
        display: flex;
        align-items: center;
        height: 3em;
        padding: 0.5em;
        * {
            color: $accentColor;
            font-weight: bold;
            margin: 0 1em;
        }
        a {
            display: inherit;
            align-items: inherit;
            margin: 0;
        }
        img {
            margin: 0 0.5em;
        }
    }
    .blog {
        max-width: 20em;
        max-height: 12.5em;
        figure {
            object-fit: cover;
            overflow: hidden;
            max-height: 9.5em;
            margin-bottom: 0.5em;
            border-radius: 5px;
        }
        img {
            max-width: 100%;
        }
    }
}

/* || IMAGE HANDLING */

@mixin featureImage {
    max-width: 40%;
    max-height: 50vw;
    overflow: hidden;
    border-radius: 20px;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.largeLogo {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    img {
        height: 100%;
    }
}

.smallLogo {
    height: 2em;
    width: 2em;
}

.heroImage {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: 30em;
    max-width: 60vw;
    margin: calc(-1 * min($innerContainerMargin, 38.4px));
    img {
        height: 30em;
    }
}

.portraitImage {
    @include featureImage();
}

.postImage {
    @include featureImage();
    margin-right: 2em;
}

.portfolioImage {
    @include featureImage();
    max-width: 40%;
}

.imageTop {
    align-items: flex-start;
}

/* || PAGE SPECIFIC */

.intro {
    @include display-container(row, center, center, $innerContainerMargin);
    > * {
        margin: 1em;
    }
    .innerText {
        max-width: 40%;
    }
}

.portfolio {
    @include display-container(row-reverse, space-between, center, $innerContainerMargin);
    .innerText {
        width: 50%;
        text-align: right;
        margin-left: 10%;
    }
}

.projectList {
    @include display-container(column, flex-start, center, 0);
    .project {
        @include display-container(row, space-between, center, 0);
    }
}

.featureBlogCards {
    @include display-container(row, space-around, flex-start, 0);
    flex-wrap: nowrap;
    width: 100%;
    /* Hero Blog Card */
    .main {
        margin-right: 50px;
        * {
            margin-top: 10px;
        }
    }
    /* Secondary Blog Cards */
    .blogColumn {
        @include display-container(column, flex-start, flex-start, 0);
        .secondary {
            width: 100%;
            * {
                margin-top: 10px;
            }
        }
    }

    img {
        max-width: 100%;
        border-radius: 5px;
    }
}

.wrapChange {
    flex-wrap: nowrap;
}

/* || Media Queries */
@media (max-width: 480px) {

    /* || GENERAL STYLING */
    /* || CONTAINERS */

    .cardList {
        .contact {
            width: 100%;
        }
    }

    .innerLeft .innerText {
        margin-right: 0;
    }

    .innerRight .innerText {
        margin-left: 0;
    }
    
    .featureBlogCards {
        @include display-container(row, flex-end, center, 0);
        .main {
            margin-right: 0;
        }

        .blogColumn {
            display: none;
        }
    }

    .wrapChange {
        flex-wrap: wrap;
    }

    /* || IMAGE HANDLING */

    .heroImage {
        display: flex;
        justify-content: center;
        max-width: 100vw;
        margin: 5vw calc(-1 * min($innerContainerMargin, 38.4px)) calc(-1 * min($innerContainerMargin, 38.4px)) calc(-1 * min($innerContainerMargin, 38.4px));
        img {
            height: 15em;
        }
    }

    .portraitImage {
        max-height: none;
        max-width: 90vw;
    }

    .portfolioImage {
        display: none;
    }

    .postImage {
        max-height: none;
        margin-right: 0;
        max-width: 90vw;
    }

    /* || PAGE SPECIFIC */

    .intro {
        .innerText {
            max-width: 100%;
        }
    }

    .portfolio {
        .innerText {
            width: 100%;
            margin-left: 0;
        }
    }
}

@media (min-width: 481px) and (max-width: 1024px) {

    /* || GENERAL STYLING */
    /* || CONTAINERS */
    /* || IMAGE HANDLING */
    /* || PAGE SPECIFIC */
    .featureBlogCards {
        @include display-container(column, space-around, flex-start, 0);
        /* Hero Blog Card */
        .main {
            margin-right: 0;
        }
        .blogColumn {
            @include display-container(row, space-between, flex-start, 0);
            margin-top: 20px;
            .secondary {
                width: 45%;
            }
        }
    }
}
    