/* --- CSS written in style.scss file. Refer to this for review and edits --- */
/* --- Variable Declaration --- */

/* Color Palette */
$accentColor: #1AD993;
$darkBackColor: #0D0D0D;
$lightBackColor: #262626;
$cardBackColor: #8C8C8C;
$text: #F2F2F2;

/* Font Selection */
$headingFont: 'Raleway', sans-serif;
$paragraphFont: 'Roboto', sans-serif;

/* Default Parameters */

$innerContainerMargin: 5vw;

/* --- Wildcard Selector --- */

* {
    margin: 0em;
    padding: 0em;
    color: $text;
}

/* ----- Mixins ----- */

/* Base Heading Text */
@mixin heading-default {
    font-family: $headingFont;
    font-weight: bold;
}

/* Base Paragraph Text */
@mixin paragraph-default {
    font-family: $paragraphFont;
    font-weight: normal;
    font-size: 1em;
}

/* Highest Level Backing Container */
@mixin background-container($backColor) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backColor;
}

/* Second Level Content Container */
@mixin display-container($direction, $align, $justify, $margin) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: wrap;
    margin: min($margin, 38.4px);
    max-width: 1280px;
    width: 100%;
}

/* Feature Images */
@mixin featureImage {
    // min-width: max(30%, 12.5em);
    max-width: 40%;
    max-height: 50vw;
    overflow: hidden;
    border-radius: 20px;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

/* ----- Element Selectors ----- */

/* --- Layout Elements --- */

/* Body Background */
body {
    background-color: $lightBackColor;
}

/* Nav Structure */
nav {
    @include display-container(row, center, space-between, 0.5em);
}

/* --- Text Elements --- */

/* h1 Element Display */
h1 {
    @include heading-default();
    font-size: 3em;
    line-height: 1.3;
}

/* h2 Element Display */
h2 {
    @include heading-default();
    color: $accentColor;
    font-size: 1.25em;
}

/* h3 Element Display */
h3 {
    @include paragraph-default();
    font-weight: bold;
    font-size: 1.25em;
}

/* h4 Element Display */
h4 {
    @include paragraph-default();
    font-size: 0.75em;
    font-style: italic;
}

/* Paragraph Element Display */
p {
    @include paragraph-default();
}

/* Anchor Element Display */
a {
    @include paragraph-default();
    text-decoration: none;
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
}

/* --- Container Elements --- */

/* Call to Action Buttons */
button {
    min-height: 3em;
    color: $accentColor;
    border-color: $accentColor;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 0.5em;
    background-color: transparent;
}

/* ----- Class Selectors ----- */

/* --- Type Containers --- */

/* Light Background Containers */
.light {
    @include background-container($lightBackColor);
}

/* Dark Background Containers */
.dark {
    @include background-container($darkBackColor);
}

/* Card Background Containers */
.card {
    background-color: $cardBackColor;
}

/* Placeholder till proper logo image */
.titleLogo {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    color: $darkBackColor;
    object-fit: cover;
    overflow: hidden;
    img {
        height: 100%;
    }
}

/* Controls Image Size on Service Cards */
.serviceLogo {
    height: 2em;
    width: 2em;
}

.navLogo {
    img {
        height: 2em;
    }
}

/* --- Section Containers --- */

/* Layout Control when single page section */
.solo {
    min-height: calc(100vh - 5em);
}

/* Specialised Container for initial homepage section */
.intro {
    @include display-container(row, center, center, $innerContainerMargin);
    > * {
        margin: 1em;
    }
    .headerSection {
        max-width: 40%;
    }
}

/* Specialised Container for portfolio page */
.portfolio {
    @include display-container(row-reverse, center, space-between, $innerContainerMargin);
    flex-wrap: nowrap;
    .headerSection {
        width: 50%;
        text-align: right;
        margin-left: 10%;
    }
}

/* Container for left justified sections */
.leftHeader {
    @include display-container(row, center, flex-start, $innerContainerMargin);
    .headerSection {
        text-align: left;
        margin-right: 10%;
    }
}

/* Container for right justified sections */
.rightHeader {
    @include display-container(row-reverse, center, flex-end, $innerContainerMargin);
    flex-wrap: nowrap;
    .headerSection {
        text-align: right;
        margin-left: 10%;
    }
}

/* Container for center justified sections */
.centerHeader {
    @include display-container(row, center, center, $innerContainerMargin);
    .headerSection {
        text-align: center;
    }
}

/* --- Sub-Section Containers --- */

/* Container smaller heading sections */
.headerSection {
    max-width: 100%;
    z-index: 10;
    * {
        margin: 10px 0px;
    }
}

/* Container Nav anchor links */
.navLinks {
    a {
        margin: 0em 0.3em;
    }
}

/* Container for different card type lists */
.cardList {
    @include display-container(row, center, center, 0px);
    article {
        margin: 1em;
        border-radius: 15px;
    }
    /* Services card specific */
    .service {
        width: 15em;
        height: 10em;
        padding: 2em 1em 1em 1em;
    }
    /* Contact card specific */
    .contactCard {
        display: flex;
        align-items: center;
        height: 3em;
        padding: 0.5em;
        * {
            color: $accentColor;
            font-weight: bold;
            margin: 0em 1em;
        }
        a {
            display: inherit;
            align-items: inherit;
            margin: 0;
        }
        img {
            margin: 0 0.5em;
        }
    }
    /* Blog card specific */
    .blog {
        max-width: 20em;
        max-height: 12.5em;
        img {
            object-fit: cover;
            max-width: 100%;
            border-radius: 5px;
        }
    }
}

/* Container for blog cards in major heading only */
.featureBlogCards {
    @include display-container(row, flex-start, space-around, 0px);
    flex-wrap: nowrap;
    width: 100%;
    /* Hero Blog Card */
    .main {
        margin-right: 50px;
        * {
            margin-top: 10px;
        }
    }
    /* Secondary Blog Cards */
    .blogColumn {
        @include display-container(column, flex-start, flex-start, 0px);
        .secondary {
            width: 100%;
            * {
                margin-top: 10px;
            }
        }
    }

    img {
        max-width: 100%;
        border-radius: 5px;
    }
}

/* Image Container */
.headerImage {
    display: flex;
    justify-content: center;
    max-height: 30em;
    max-width: 60vw;
    overflow: hidden;
    margin: calc(-1 * min($innerContainerMargin, 38.4px));
    img {
        height: 30em;
    }
}

/* Project List Formatting */
.projectList {
    @include display-container(column, center, flex-start, 0px);
    .project {
        @include display-container(row, center, space-between, 0px);
    }
}

/* Project List Break */
hr.solid {
    border-top: 1px solid $text;
    width: 100%;
}

/* Blog Post Flexbox Override */
.blogPost {
    align-items: flex-start;
}

/* --- ID Selectors --- */

/* Overwrite for Accent Text Color if needed */
#accent {
    color: $accentColor;
}

/* Override for figures holding homepage images */
#headerImage {
    max-width: 40%;
    height: fit-content;
}

/* Temporary flex-wrap changes */
#wrapChange {
    flex-wrap: nowrap;
}

/* Tailored Settings About Page Image */
#portraitImage {
    @include featureImage();
}

/* Tailored Settings Blog Page Image */
#blogImage {
    @include featureImage();
    margin-right: 2em;
}

/* Tailored Settings Portfolio Image */
#projectImage {
    @include featureImage();
    max-width: 40%;
}

/* ----- Animations ----- */

/* ----- Media Controllers ----- */
/* --- Media Query for Mobile Devices --- */
@media (max-width: 480px) {

    /* Centering homepage content on small device */
    .intro {
        .headerSection {
            max-width: 100%;
        }
    }

    /* Specialised Container for portfolio page */
    .portfolio {
        @include display-container(row-reverse, center, space-between, $innerContainerMargin);
        .headerSection {
            width: 100%;
            text-align: right;
            margin-left: 0;
        }
    }

    /* Centering header types for content */
    .leftHeader {
        @include display-container(row, center, left, $innerContainerMargin);
    }
    
    .rightHeader {
        @include display-container(row, center, right, $innerContainerMargin);
        * {
            text-align: right;
        }
    }
    
    .centerHeader {
        @include display-container(row, center, center, $innerContainerMargin);
    }

    /* Adjusting card list to center line */
    .cardList {
        @include display-container(row, center, center, 0vw);
        max-width: 100vw;
        .blog{
            width: 100%;
            img {
                width: 100%;
            }
        }
        .contactCard {
            width: 100%;
        }
        
    }

    .leftHeader .headerSection {
        margin-right: 0;
    }
    
    /* Removing secondary feature posts */
    .featureBlogCards {
        @include display-container(row, center, flex-end, 0px);
        width: 100%;
        .main {
            margin-right: 0px;
        }

        .blogColumn {
            display: none;
        }
    }

    /* Adjusting header images to below content */
    .headerImage {
        display: flex;
        justify-content: center;
        max-width: 100vw;
        width: 100vw;
        overflow: hidden;
        margin: 5vw calc(-1 * min($innerContainerMargin, 38.4px)) calc(-1 * min($innerContainerMargin, 38.4px)) calc(-1 * min($innerContainerMargin, 38.4px));
        img {
            height: 15em;
        }
    }

    /* Removing temporary wrap changes */
    #wrapChange {
        flex-wrap: wrap;
    }

    /* Adjusting Portrait Image height */
    #portraitImage {
        max-height: none;
        max-width: 90vw;
    }

    #projectImage {
        display: none;
    }

    #blogImage {
        max-height: none;
        margin-right: 0;
        max-width: 90vw;
    }
}
  
/* --- Media Query for Tablets, Ipads --- */
@media (min-width: 481px) and (max-width: 1024px) {

    /* Adjusting Header Width for midsize */
    .headerSection {
        max-width: 60%;
    }

    /* Blog Page Layout Changes */
    .featureBlogCards {
        @include display-container(column, flex-start, space-around, 0px);
        flex-wrap: nowrap;
        width: 100%;
        /* Hero Blog Card */
        .main {
            margin-right: 0px;
            * {
                margin-top: 0px;
            }
        }
        /* Secondary Blog Cards */
        .blogColumn {
            @include display-container(row, flex-start, space-between, 0px);
            margin-top: 20px;
            .secondary {
                width: 45%;
                * {
                    margin-top: 10px;
                }
            }
        }
    
        img {
            max-width: 100%;
            border-radius: 5px;
        }
    }
}