/* --- CSS written in style.scss file. Refer to this for review and edits --- */
/* --- Variable Declaration --- */
/* Color Palette */
/* Font Selection */
/* Default Parameters */
/* --- Wildcard Selector --- */
* {
  margin: 0em;
  padding: 0em;
  color: #F2F2F2;
}

/* ----- Mixins ----- */
/* Base Heading Text */
/* Base Paragraph Text */
/* Highest Level Backing Container */
/* Second Level Content Container */
/* Feature Images */
/* ----- Element Selectors ----- */
/* --- Layout Elements --- */
/* Body Background */
body {
  background-color: #262626;
}

/* Nav Structure */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: min(0.5em, 38.4px);
  max-width: 1280px;
  width: 100%;
}

/* --- Text Elements --- */
/* h1 Element Display */
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 3em;
  line-height: 1.3;
}

/* h2 Element Display */
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #1AD993;
  font-size: 1.25em;
}

/* h3 Element Display */
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1em;
  font-weight: bold;
  font-size: 1.25em;
}

/* h4 Element Display */
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1em;
  font-size: 0.75em;
  font-style: italic;
}

/* Paragraph Element Display */
p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1em;
}

/* Anchor Element Display */
a {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-decoration: none;
}
a a:link {
  text-decoration: none;
}
a a:visited {
  text-decoration: none;
}

/* --- Container Elements --- */
/* Call to Action Buttons */
button {
  min-height: 3em;
  color: #1AD993;
  border-color: #1AD993;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  padding: 0.5em;
  background-color: transparent;
}

/* ----- Class Selectors ----- */
/* --- Type Containers --- */
/* Light Background Containers */
.light {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
}

/* Dark Background Containers */
.dark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D0D0D;
}

/* Card Background Containers */
.card {
  background-color: #8C8C8C;
}

/* Placeholder till proper logo image */
.titleLogo {
  border-radius: 50%;
  width: 15em;
  height: 15em;
  color: #0D0D0D;
  object-fit: cover;
  overflow: hidden;
}
.titleLogo img {
  height: 100%;
}

/* Controls Image Size on Service Cards */
.serviceLogo {
  height: 2em;
  width: 2em;
}

.navLogo img {
  height: 2em;
}

/* --- Section Containers --- */
/* Layout Control when single page section */
.solo {
  min-height: calc(100vh - 5em);
}

/* Specialised Container for initial homepage section */
.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: min(5vw, 38.4px);
  max-width: 1280px;
  width: 100%;
}
.intro > * {
  margin: 1em;
}
.intro .headerSection {
  max-width: 40%;
}

/* Specialised Container for portfolio page */
.portfolio {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: min(5vw, 38.4px);
  max-width: 1280px;
  width: 100%;
  flex-wrap: nowrap;
}
.portfolio .headerSection {
  width: 50%;
  text-align: right;
  margin-left: 10%;
}

/* Container for left justified sections */
.leftHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: min(5vw, 38.4px);
  max-width: 1280px;
  width: 100%;
}
.leftHeader .headerSection {
  text-align: left;
  margin-right: 10%;
}

/* Container for right justified sections */
.rightHeader {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: min(5vw, 38.4px);
  max-width: 1280px;
  width: 100%;
  flex-wrap: nowrap;
}
.rightHeader .headerSection {
  text-align: right;
  margin-left: 10%;
}

/* Container for center justified sections */
.centerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: min(5vw, 38.4px);
  max-width: 1280px;
  width: 100%;
}
.centerHeader .headerSection {
  text-align: center;
}

/* --- Sub-Section Containers --- */
/* Container smaller heading sections */
.headerSection {
  max-width: 100%;
  z-index: 10;
}
.headerSection * {
  margin: 10px 0px;
}

/* Container Nav anchor links */
.navLinks a {
  margin: 0em 0.3em;
}

/* Container for different card type lists */
.cardList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  max-width: 1280px;
  width: 100%;
  /* Services card specific */
  /* Contact card specific */
  /* Blog card specific */
}
.cardList article {
  margin: 1em;
  border-radius: 15px;
}
.cardList .service {
  width: 15em;
  height: 10em;
  padding: 2em 1em 1em 1em;
}
.cardList .contactCard {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0.5em;
}
.cardList .contactCard * {
  color: #1AD993;
  font-weight: bold;
  margin: 0em 1em;
}
.cardList .contactCard a {
  display: inherit;
  align-items: inherit;
  margin: 0;
}
.cardList .contactCard img {
  margin: 0 0.5em;
}
.cardList .blog {
  max-width: 20em;
  max-height: 12.5em;
}
.cardList .blog img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 5px;
}

/* Container for blog cards in major heading only */
.featureBlogCards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px;
  max-width: 1280px;
  width: 100%;
  flex-wrap: nowrap;
  width: 100%;
  /* Hero Blog Card */
  /* Secondary Blog Cards */
}
.featureBlogCards .main {
  margin-right: 50px;
}
.featureBlogCards .main * {
  margin-top: 10px;
}
.featureBlogCards .blogColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px;
  max-width: 1280px;
  width: 100%;
}
.featureBlogCards .blogColumn .secondary {
  width: 100%;
}
.featureBlogCards .blogColumn .secondary * {
  margin-top: 10px;
}
.featureBlogCards img {
  max-width: 100%;
  border-radius: 5px;
}

/* Image Container */
.headerImage {
  display: flex;
  justify-content: center;
  max-height: 30em;
  max-width: 60vw;
  overflow: hidden;
  margin: calc(-1 * min(5vw, 38.4px));
}
.headerImage img {
  height: 30em;
}

/* Project List Formatting */
.projectList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px;
  max-width: 1280px;
  width: 100%;
}
.projectList .project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  max-width: 1280px;
  width: 100%;
}

/* Project List Break */
hr.solid {
  border-top: 1px solid #F2F2F2;
  width: 100%;
}

/* Blog Post Flexbox Override */
.blogPost {
  align-items: flex-start;
}

/* --- ID Selectors --- */
/* Overwrite for Accent Text Color if needed */
#accent {
  color: #1AD993;
}

/* Override for figures holding homepage images */
#headerImage {
  max-width: 40%;
  height: fit-content;
}

/* Temporary flex-wrap changes */
#wrapChange {
  flex-wrap: nowrap;
}

/* Tailored Settings About Page Image */
#portraitImage {
  max-width: 40%;
  max-height: 50vw;
  overflow: hidden;
  border-radius: 20px;
}
#portraitImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Tailored Settings Blog Page Image */
#blogImage {
  max-width: 40%;
  max-height: 50vw;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 2em;
}
#blogImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Tailored Settings Portfolio Image */
#projectImage {
  max-width: 40%;
  max-height: 50vw;
  overflow: hidden;
  border-radius: 20px;
  max-width: 40%;
}
#projectImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* ----- Animations ----- */
/* ----- Media Controllers ----- */
/* --- Media Query for Mobile Devices --- */
@media (max-width: 480px) {
  /* Centering homepage content on small device */
  .intro .headerSection {
    max-width: 100%;
  }
  /* Specialised Container for portfolio page */
  .portfolio {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: min(5vw, 38.4px);
    max-width: 1280px;
    width: 100%;
  }
  .portfolio .headerSection {
    width: 100%;
    text-align: right;
    margin-left: 0;
  }
  /* Centering header types for content */
  .leftHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin: min(5vw, 38.4px);
    max-width: 1280px;
    width: 100%;
  }
  .rightHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    margin: min(5vw, 38.4px);
    max-width: 1280px;
    width: 100%;
  }
  .rightHeader * {
    text-align: right;
  }
  .centerHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: min(5vw, 38.4px);
    max-width: 1280px;
    width: 100%;
  }
  /* Adjusting card list to center line */
  .cardList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: min(0vw, 38.4px);
    max-width: 1280px;
    width: 100%;
    max-width: 100vw;
  }
  .cardList .blog {
    width: 100%;
  }
  .cardList .blog img {
    width: 100%;
  }
  .cardList .contactCard {
    width: 100%;
  }
  .leftHeader .headerSection {
    margin-right: 0;
  }
  /* Removing secondary feature posts */
  .featureBlogCards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0px;
    max-width: 1280px;
    width: 100%;
    width: 100%;
  }
  .featureBlogCards .main {
    margin-right: 0px;
  }
  .featureBlogCards .blogColumn {
    display: none;
  }
  /* Adjusting header images to below content */
  .headerImage {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    width: 100vw;
    overflow: hidden;
    margin: 5vw calc(-1 * min(5vw, 38.4px)) calc(-1 * min(5vw, 38.4px)) calc(-1 * min(5vw, 38.4px));
  }
  .headerImage img {
    height: 15em;
  }
  /* Removing temporary wrap changes */
  #wrapChange {
    flex-wrap: wrap;
  }
  /* Adjusting Portrait Image height */
  #portraitImage {
    max-height: none;
    max-width: 90vw;
  }
  #projectImage {
    display: none;
  }
  #blogImage {
    max-height: none;
    margin-right: 0;
    max-width: 90vw;
  }
}
/* --- Media Query for Tablets, Ipads --- */
@media (min-width: 481px) and (max-width: 1024px) {
  /* Adjusting Header Width for midsize */
  .headerSection {
    max-width: 60%;
  }
  /* Blog Page Layout Changes */
  .featureBlogCards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px;
    max-width: 1280px;
    width: 100%;
    flex-wrap: nowrap;
    width: 100%;
    /* Hero Blog Card */
    /* Secondary Blog Cards */
  }
  .featureBlogCards .main {
    margin-right: 0px;
  }
  .featureBlogCards .main * {
    margin-top: 0px;
  }
  .featureBlogCards .blogColumn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
    max-width: 1280px;
    width: 100%;
    margin-top: 20px;
  }
  .featureBlogCards .blogColumn .secondary {
    width: 45%;
  }
  .featureBlogCards .blogColumn .secondary * {
    margin-top: 10px;
  }
  .featureBlogCards img {
    max-width: 100%;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
