/* --- CSS written in style.scss file. Refer to this for review and edits --- */
/* --- Variable Declaration --- */

/* Color Palette */
$accentColor: #1AD993;
$darkBackColor: #0D0D0D;
$lightBackColor: #262626;
$cardBackColor: #8C8C8C;
$text: #F2F2F2;

/* Font Selection */
$headingFont: 'Raleway', sans-serif;
$paragraphFont: 'Roboto', sans-serif;

/* --- Wildcard Selector --- */

* {
    margin: 0em;
    padding: 0em;
    color: $text;
}

/* --- Mixins --- */

@mixin heading-default {
    font-family: $headingFont;
    font-weight: bold;
}

@mixin paragraph-default {
    font-family: $paragraphFont;
    font-weight: normal;
    font-size: 1em;
}

@mixin background-container($backColor) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backColor;
}

@mixin display-container($direction, $align, $justify, $padding) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    padding: min($padding, 38.4px);
    flex-wrap: wrap;
    max-width: 1280px;
    width: 100%;
}

@mixin logo($width, $height) {
    background-color: $text;
    border-radius: 50%;
    min-width: $width;
    min-height: $height;
    color: $darkBackColor;
}

/* --- Element Selectors --- */

/* Layout Elements */

body {
    background-color: $lightBackColor;
}

nav {
    @include display-container(row, center, space-between, 0.5em);
}

/* Text Elements */

h1 {
    @include heading-default();
    font-size: 3em;
    line-height: 1.3;
}

h2 {
    @include heading-default();
    color: $accentColor;
    font-size: 1.25em;
}

h3 {
    @include paragraph-default();
    font-weight: bold;
    font-size: 1.25em;
}

p {
    @include paragraph-default();
}

a {
    @include paragraph-default();
    text-decoration: none;
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
}

/* Container Elements */

button {
    min-height: 3em;
    color: $accentColor;
    border-color: $accentColor;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding: 0.5em;
    background-color: transparent;
}

/* --- Class Selectors --- */

/* Type Containers */

.light {
    @include background-container($lightBackColor);
}

.dark {
    @include background-container($darkBackColor);
}

.card {
    background-color: $cardBackColor;
}

.titleLogo {
    @include logo(15em, 15em)
}
.navLogo {
    @include logo(2em, 2em)
}
.serviceLogo {
    height: 2em;
    width: 2em;
}

/* Section Containers */

.solo {
    height: calc(100vh - 5em);
    min-height: 500px;
}

.intro {
    @include display-container(row, center, space-around, 3vw);
    min-height: 10em;
    > * {
        margin: 1em;
    }
}

.leftHeader {
    @include display-container(column, flex-start, flex-start, 3vw);
    .headerSection {
        text-align: left;
    }
}

.rightHeader {
    @include display-container(column, flex-end, flex-end, 3vw);
    .headerSection {
        text-align: right;
    }
}

.centerHeader {
    @include display-container(column, center, center, 3vw);
    .headerSection {
        text-align: center;
    }
}

/* Sub-Section Containers */

.headerSection {
    max-width: 40%;
    * {
        margin: 10px 0px;
    }
}

.navLinks {
    a {
        margin: 0em 0.3em;
    }
}

.cardList {
    @include display-container(row, center, space-around, 0px);
    width: 100%;
    article {
        margin: 1em 1em 1em 0em;
        border-radius: 15px;
    }
    .service {
        width: 15em;
        height: 10em;
        padding: 3em 1em 1em 1em;
    }
    .contactCard {
        display: inline-flex;
        align-items: center;
        height: 3em;
        padding: 1em 1em 1em 1em;
        * {
            color: $accentColor;
            font-weight: bold;
            margin: 0em 1em;
        }
    }
}

.secondaryBlogPost {
    width: 30%;
}

/* --- ID Selectors --- */

#accent {
    color: $accentColor;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .leftHeader {
        @include display-container(column, center, center, 5vw);
    }
    
    .rightHeader {
        @include display-container(column, center, center, 5vw);
    }
    
    .centerHeader {
        @include display-container(column, center, center, 5vw);
    }

    .headerSection {
        max-width: 80%;
        * {
            margin: 10px 0px;
        }
    }

    .cardList {
        @include display-container(row, center, center, 0px);
        article {
            margin: 1em 0em 0em 0em;
        }
    }
}
  
/* Media Query for Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
    .headerSection {
        max-width: 50%;
        * {
            margin: 10px 0px;
        }
    }
}