/* CSS written in style.scss file. Refer to SCSS for review and edits */
/* || VARIABLE DECLARATION */
/* || GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  color: #F2F2F2;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #262626;
}

/* Largest White Headers */
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 3em;
  font-size: 3em;
}

/* Accent Color Mid Headers */
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #1AD993;
  font-size: 1.25em;
}

/* Light Color Mid Headers  */
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  font-weight: bold;
}

/* Blog Date Headers */
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.75em;
  font-style: italic;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1em;
}

a {
  text-decoration: none;
}

button {
  height: 3em;
  color: #1AD993;
  border-color: #1AD993;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  padding: 0.5em;
  background-color: transparent;
}

.accent {
  color: #1AD993;
}

hr.solid {
  border-top: 1px solid #F2F2F2;
  width: 100%;
}

/* || CONTAINERS */
/* Highest Level Backing Container */
/* Second Level Content Container */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: min(0.5em, 40px); /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
}
nav a {
  margin: 0 0.3em;
}

.outerLight {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
}

.outerDark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D0D0D;
}

.solo {
  min-height: calc(100vh - 5em);
}

.innerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: min(5vw, 40px); /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
}
.innerLeft .innerText {
  text-align: left;
  margin-right: 10%;
}

.innerRight {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: min(5vw, 40px); /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}
.innerRight .innerText {
  text-align: right;
  margin-left: 10%;
}

.innerCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: min(5vw, 40px); /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
}
.innerCenter .innerText {
  text-align: center;
}

.innerText {
  max-width: 100%;
  z-index: 10;
}
.innerText * {
  margin: 10px 0;
}

.card {
  background-color: #8C8C8C;
}

.cardList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0; /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
  /* Services card specific */
  /* Contact card specific */
  /* Blog card specific */
}
.cardList article {
  margin: 1em;
  border-radius: 15px;
}
.cardList .service {
  width: 15em;
  height: 10em;
  padding: 2em 1em 1em 1em;
}
.cardList .contactCard {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0.5em;
}
.cardList .contactCard * {
  color: #1AD993;
  font-weight: bold;
  margin: 0 1em;
}
.cardList .contactCard a {
  display: inherit;
  align-items: inherit;
  margin: 0;
}
.cardList .contactCard img {
  margin: 0 0.5em;
}
.cardList .blog {
  max-width: 20em;
  max-height: 12.5em;
}
.cardList .blog img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 5px;
}

.wrapChange {
  flex-wrap: nowrap;
}

/* || IMAGE HANDLING */
.largeLogo {
  border-radius: 50%;
  width: 15em;
  height: 15em;
  overflow: hidden;
}
.largeLogo img {
  height: 100%;
}

.smallLogo {
  height: 2em;
  width: 2em;
}

.heroImage {
  display: flex;
  justify-content: center;
  max-height: 30em;
  max-width: 60vw;
  overflow: hidden;
  margin: calc(-1 * min(5vw, 38.4px));
}
.heroImage img {
  height: 30em;
}

.imageTop {
  align-items: flex-start;
}

.portraitImage {
  max-width: 40%;
  max-height: 50vw;
  overflow: hidden;
  border-radius: 20px;
}
.portraitImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.postImage {
  max-width: 40%;
  max-height: 50vw;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 2em;
}
.postImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.projectImage {
  max-width: 40%;
  max-height: 50vw;
  overflow: hidden;
  border-radius: 20px;
  max-width: 40%;
}
.projectImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* || PAGE SPECIFIC */
.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: min(5vw, 40px); /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
}
.intro > * {
  margin: 1em;
}
.intro .innerText {
  max-width: 40%;
}

.portfolio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: min(5vw, 40px); /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}
.portfolio .innerText {
  width: 50%;
  text-align: right;
  margin-left: 10%;
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0; /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
}
.projectList .project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0; /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
}

.featureBlogCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0; /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  width: 100%;
  /* Hero Blog Card */
  /* Secondary Blog Cards */
}
.featureBlogCards .main {
  margin-right: 50px;
}
.featureBlogCards .main * {
  margin-top: 10px;
}
.featureBlogCards .blogColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0; /* 40px limit to stop container growing with wide screens */
  max-width: 1280px; /* Limit container to max 1280px screen size */
  width: 100%;
  height: 100%;
}
.featureBlogCards .blogColumn .secondary {
  width: 100%;
}
.featureBlogCards .blogColumn .secondary * {
  margin-top: 10px;
}
.featureBlogCards img {
  max-width: 100%;
  border-radius: 5px;
}

/* || Media Queries */
@media (max-width: 480px) {
  /* || GENERAL STYLING */
  /* || CONTAINERS */
  .innerLeft {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: min(5vw, 40px); /* 40px limit to stop container growing with wide screens */
    max-width: 1280px; /* Limit container to max 1280px screen size */
    width: 100%;
    height: 100%;
  }
  .innerRight {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    padding: min(5vw, 40px); /* 40px limit to stop container growing with wide screens */
    max-width: 1280px; /* Limit container to max 1280px screen size */
    width: 100%;
    height: 100%;
  }
  .innerRight * {
    text-align: right;
  }
  .innerCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: min(5vw, 40px); /* 40px limit to stop container growing with wide screens */
    max-width: 1280px; /* Limit container to max 1280px screen size */
    width: 100%;
    height: 100%;
  }
  .cardList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: min(0vw, 40px); /* 40px limit to stop container growing with wide screens */
    max-width: 1280px; /* Limit container to max 1280px screen size */
    width: 100%;
    height: 100%;
    max-width: 100vw;
  }
  .cardList .blog {
    width: 100%;
  }
  .cardList .blog img {
    width: 100%;
  }
  .cardList .contactCard {
    width: 100%;
  }
  .innerLeft .innerText {
    margin-right: 0;
  }
  .featureBlogCards {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0; /* 40px limit to stop container growing with wide screens */
    max-width: 1280px; /* Limit container to max 1280px screen size */
    width: 100%;
    height: 100%;
    width: 100%;
  }
  .featureBlogCards .main {
    margin-right: 0;
  }
  .featureBlogCards .blogColumn {
    display: none;
  }
  .wrapChange {
    flex-wrap: wrap;
  }
  /* || IMAGE HANDLING */
  .heroImage {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    width: 100vw;
    overflow: hidden;
    margin: 5vw calc(-1 * min(5vw, 38.4px)) calc(-1 * min(5vw, 38.4px)) calc(-1 * min(5vw, 38.4px));
  }
  .heroImage img {
    height: 15em;
  }
  .portraitImage {
    max-height: none;
    max-width: 90vw;
  }
  .projectImage {
    display: none;
  }
  .postImage {
    max-height: none;
    margin-right: 0;
    max-width: 90vw;
  }
  /* || PAGE SPECIFIC */
  .intro .headerSection {
    max-width: 100%;
  }
  .portfolio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: min(5vw, 40px); /* 40px limit to stop container growing with wide screens */
    max-width: 1280px; /* Limit container to max 1280px screen size */
    width: 100%;
    height: 100%;
  }
  .portfolio .headerSection {
    width: 100%;
    text-align: right;
    margin-left: 0;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  /* || GENERAL STYLING */
  /* || CONTAINERS */
  .innerText {
    max-width: 60%;
  }
  .featureBlogCards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0; /* 40px limit to stop container growing with wide screens */
    max-width: 1280px; /* Limit container to max 1280px screen size */
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    width: 100%;
    /* Hero Blog Card */
  }
  .featureBlogCards .main {
    margin-right: 0;
  }
  .featureBlogCards .main * {
    margin-top: 0;
  }
  .featureBlogCards .blogColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0; /* 40px limit to stop container growing with wide screens */
    max-width: 1280px; /* Limit container to max 1280px screen size */
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  .featureBlogCards .blogColumn .secondary {
    width: 45%;
  }
  .featureBlogCards .blogColumn .secondary * {
    margin-top: 10px;
  }
  .featureBlogCards img {
    max-width: 100%;
    border-radius: 5px;
  }
  /* || IMAGE HANDLING */
  /* || PAGE SPECIFIC */
}

/*# sourceMappingURL=style.css.map */
